A_TMAC ICON "tmac.ico"
OPEN ICON "open.ico"
MAINMENU ICON "mtex.ico"
TEX_EDIT ICON "tex-edt3.ico"
UTILSMAN ICON "utilsman.ico"
TEX_DOS ICON "tex-dos.ico"
TEX_BMP ICON "tex-bmp.ico"
NET_PKG ICON "net_pkg.ico"
BIBX ICON "bibx.ico"
SPELL ICON "spell.ico"
COMPILE ICON "compile.ico"
DOCS ICON "docs.ico"
HELP ICON "help.ico"
CONFIG ICON "config.ico"
TMAC ICON "tmac.ico"
CLOSE ICON "close.ico"
